[init]
	templatedir = ~/.git_template
[push]
	default = current
[ghq]
	root = ~/Code
	root = ~/Go/src
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = vim
[user]
	name = taiju271
	email = taiju271@users.noreply.github.com
